html,
body {
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 1.63;
  color: $default;
  @extend %quicksand-500;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}

.title {
  margin-bottom: 10px;
  font-size: 48px;
  line-height: 1.35;
  @extend %roboto-700;
  text-align: center;
  text-transform: uppercase;
  color: $title;
}

.text {
  max-width: 570px;
  margin: 0 auto 30px;
  text-align: center;
}